<footer id="footer" class="dark">
<!-- Copyrights
============================================= -->
<div id="copyrights">
<div class="container clearfix">
	<div class="col_half">
		Copyright 2015 by Zenius Education. All Rights Reserved.<br>
		
	</div>
	<div class="col_half col_last tright">
		<div class="fright clearfix">
			<div class="copyright-links"><a href="#">Ketentuan Penggunaan</a> / <a href="#">Kebijakan Privasi</a></div>
		</div>
	</div>
</div>
</div><!-- #copyrights end -->
</footer>