<footer id="footer" class="dark">
	<div class="container footertop">
		<div class="col-md-6">
			<div class="copyrights-menu copyright-links">
				<a href="#">Home</a>/<a href="#">Tentang Zenpres</a>/<a href="#">FAQs</a>/<a href="#">Contact Us</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="fright">
				<a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
					<i class="icon-facebook"></i>
					<i class="icon-facebook"></i>
				</a>
				<a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
					<i class="icon-twitter"></i>
					<i class="icon-twitter"></i>
				</a>
				<a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
					<i class="icon-gplus"></i>
					<i class="icon-gplus"></i>
				</a>
				<a href="#" class="social-icon si-small si-borderless nobottommargin si-youtube">
					<i class="icon-youtube"></i>
					<i class="icon-youtube"></i>
				</a>
				<a href="#" class="st">
					zenBlog
				</a>
			</div>
			
		</div>
	</div>
	<!-- Copyrights
	============================================= -->
	<div id="copyrights">
		<div class="container clearfix">
			<div class="col_half">
				Copyright 2015 by Zenius Education. All Rights Reserved.<br>
				
			</div>
			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<div class="copyright-links"><a href="#">Ketentuan Penggunaan</a> / <a href="#">Kebijakan Privasi</a></div>
				</div>
			</div>
		</div>
	</div><!-- #copyrights end -->
</footer>