<header id="header" class="full-header">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger">
				<i class="icon-reorder"></i>
			</div>
			<!-- Logo
			=========================================	==== -->
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="assets/images/logo-dark.png"><img src="assets/images/zplogo_2.png" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="assets/images/logo-dark@2x.png"><img src="assets/images/zplogo_2.png" alt="Canvas Logo"></a>
				</div><!-- #logo end -->
				<!-- Primary Navigation
				============================================= -->
				<nav id="primary-menu" class="style-3">
					<ul>
						<li>
							<a href="#"><div>Friends</div></a>
						</li>
						<li>
							<a href="#"><div>Buat Soal</div></a>
						</li>
						<li>
							<a href="#"><div>Coba Latihan Soal<i class="fa fa-caret-down"></i></div></a>
							<ul>
								<li>
									<a href="#"><div>Kurikulum 2013<i class="fa fa-caret-right"></i></div></a>
									<ul>
										<li><a href="#">
											<div>Matematika Wajib</div>
										</a></li>
										<li><a href="#">
											<div>Matematika Permintaan</div>
										</a></li>
										<li><a href="#">
											<div>Bahasa Inggris</div>
										</a></li>
										<li><a href="#">
											<div>Bahasa Indonesia</div>
										</a></li>
										<li><a href="#">
											<div>Fisika</div>
										</a></li>
										<li><a href="#">
											<div>Kimia</div>
										</a></li>
										<li><a href="#">
											<div>Biologi</div>
										</a></li>
										<li><a href="#">
											<div>Ekonomi</div>
										</a></li>
										<li><a href="#">
											<div>Sosiologi</div>
										</a></li>
										<li><a href="#">
											<div>Sejarah Wajib</div>
										</a></li>
										<li><a href="#">
											<div>Sejarah Permintaan</div>
										</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><div>KTSP<i class="fa fa-caret-right"></i></div></a>
									<ul>
										<li><a href="#">
											<div>Matematika</div>
										</a></li>
										<li><a href="#">
											<div>Bahasa Inggris</div>
										</a></li>
										<li><a href="#">
											<div>Bahasa Indonesia</div>
										</a></li>
										<li><a href="#">
											<div>Fisika</div>
										</a></li>
										<li><a href="#">
											<div>Kimia</div>
										</a></li>
										<li><a href="#">
											<div>Biologi</div>
										</a></li>
										<li><a href="#">
											<div>Ekonomi</div>
										</a></li>
										<li><a href="#">
											<div>Sosiologi</div>
										</a></li>
										<li><a href="#">
											<div>Sejarah</div>
										</a></li>
									</ul>
								</li>
								<li><a href="#">
									<div>Video Pembahasan</div>
								</a></li>
								<li><a href="#">
									<div>Artikel</div>
								</a></li>
								<li><a href="#">
									<div>Learning Tracks</div>
								</a></li>
							</ul>
						</li>
						<li>
							<a href="#"><div>Murid Saya<i class="fa fa-caret-down"></i></div></a>
							<ul>
								<li><a href="#">
									<div>Data Murid Saya</div>
								</a></li>
								<li><a href="#">
									<div>Periksa Tugas</div>
								</a></li>
								<li><a href="#">
									<div>Rank Murid Saya</div>
								</a></li>
							</ul>
						</li>
						<li class="current">
							<a href="#"><div>Set Soal Saya</div></a>
						</li>
						<li>
							<a href="#"><div>Username<i class="fa fa-caret-down"></i></div></a>
							<ul>
								<li><a href="#">
									<div>My Profile</div>
								</a></li>
								<li><a href="#">
									<div>Setting</div>
								</a></li>
								<li><a href="#">
									<div>Log Out</div>
								</a></li>
							</ul>
						</li>
					</ul>
					<!-- Top Search
					=============================================
					<div id="top-search">
							<a href="#" id="top-search-trigger">
									<i class="icon-search3"></i>
									<i class="icon-line-cross"></i>
							</a>
							<form action="search.html" method="get">
									<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
					</div>-->
					
					</nav><!-- #primary-menu end -->
				</div>
			</div>
		</header>