---
title: Zenius Prestasi | Bikin Kelas
---
<div class="container topmargin">
	<div class="heading-block title-center">
		<h2>Bikin Kelas</h2>
		<span>Masukan Nama Kelas Anda</span>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-3 col-sm-offset-2">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Nama Kelas</label>
					<input type="text" class="form-control" id="namakelas" placeholder="Nama Kelas">
				</div>
				<button type="submit" class="button button-mini pull-right">Next</button>
			</form>
		</div>
	</div>
	
</div>