---
title: "Zenius Prestasi | Daftar Isi"
layout: footersmall
---
<section id="page-title" class="bottommargin">
	<div class="container clearfix">
		<h1>SD</h1>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Daftar Isi</a></li>
			<li class="active">SD</li>
		</ol>
	</div>
</section>
<div class="container">
	
	<div class="fancy-title title-bottom-border">
		<h1><span>SD</span></h1>
	</div>
	<p>Di dalamnya berisi video-video pelajaran MATEMATIKA untuk kelas 2 SD yang udah disesuaikan dengan kurikulum sekolah.</p>
	<p>Pas banget untuk:
		Mendalami pelajaran Matematika untuk kelas 2 SD
		Memperlancar siswa ngerjain soal-soal Matematika dasar
		Membantu siswa untuk menghadapi ulangan-ulangan di sekolah
		Membantu orangtua dan guru untuk mengajarkan konsep matematika dasar dengan praktis dan mudah.
	</p>
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
						<a class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<i class="fa fa-chevron-down"></i>
						</a>
						<a href="#">Pelajaran SD Kelas 1</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<div class="btn-group pull-right" role="group" aria-label="dpcp">
								<a href="/dp" type="button" class="btn btn-default">Kerjain Soal</a>
								<a href="/module" type="button" class="btn btn-default">Modul</a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
						<a class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<i class="fa fa-chevron-down"></i>
						</a>
						<a href="#">Pelajaran SD Kelas 2</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p>
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</p>
							<div class="btn-group pull-right" role="group" aria-label="dpcp">
								<a href="/dp" type="button" class="btn btn-default">Kerjain Soal</a>
								<a href="/module" type="button" class="btn btn-default">Modul</a>
							</div>						</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
							<a class="collapsed pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<i class="fa fa-chevron-down"></i>
							</a>
							<a href="#">Pelajaran SD Kelas 3</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<p>
									Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</p>
								<div class="btn-group pull-right" role="group" aria-label="dpcp">
									<a href="/dp" type="button" class="btn btn-default">Kerjain Soal</a>
									<a href="/module" type="button" class="btn btn-default">Modul</a>
								</div>							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>