---
title: "Zenius Prestasi | Latihan Soal"
layout: footersmall
---
	
<div class="container topmargin">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs dptabs" role="tablist">
				<li role="presentation" class="active"><a href="#q1" class="button" aria-controls="q1" role="tab" data-toggle="tab">1</a></li>
				<li role="presentation"><a href="#q2" class="button" aria-controls="q2" role="tab" data-toggle="tab">2</a></li>
				<li role="presentation"><a href="#q3" class="button" aria-controls="q3" role="tab" data-toggle="tab">3</a></li>
				<li role="presentation"><a href="#q4" class="button" aria-controls="q4" role="tab" data-toggle="tab">4</a></li>
				<li role="presentation"><a href="#q5" class="button" aria-controls="q5" role="tab" data-toggle="tab">5</a></li>
			</ul>
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
					<b>20% Selesai</b>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			
		</div>
		<div class="col-md-8">
			<!-- Tab panes -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="q1">
							<div class="question">
								<h3>Tentukan nilai h sehingga h−20=16 bernilai benar !</h3>
							</div>
							<div class="qoptions">
								<div class="col-md-7">
									<ul>
										<li><button type="button" class="zpq-button active">A. 23</button></li>
										<li><button type="button" class="zpq-button">B. 13</button></li>
										<li><button type="button" class="zpq-button">C. 42</button></li>
										<li><button type="button" class="zpq-button">D. 56</button></li>
									</ul>
								</div>
							</div>
							
							
							
						</div>
						<div role="tabpanel" class="tab-pane" id="q2">
							<div class="question">
								<h3>Ada berapakah jumlah apel?</h3>
							</div>
							<div class="qoptions">
								<div class="col-md-7">
									<ul>
										<li><button type="button" class="zpq-button active">A. 1</button></li>
										<li><button type="button" class="zpq-button">B. 2</button></li>
										<li><button type="button" class="zpq-button">C. 3</button></li>
										<li><button type="button" class="zpq-button">D. 4</button></li>
									</ul>
								</div>
								<div class="col-md-5">
									<img src="images/questionimg/5-flamingo.jpg" alt="">
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="q3">
							<div class="question">
								<h3>Tentukan apakah bertambah atau berkurang! </h3>
								<h3>Darla mempunyai 15 kelereng di dalam toples. Hilang 7 butir.</h3>
							</div>
							<div class="qoptions">
								<div class="col-md-7">
									<ul>
										<li><button type="button" class="zpq-button active">A. 1</button></li>
										<li><button type="button" class="zpq-button">B. 2</button></li>
										<li><button type="button" class="zpq-button">C. 3</button></li>
										<li><button type="button" class="zpq-button">D. 4</button></li>
									</ul>
								</div>
								<div class="col-md-5">
									<canvas id="radarChartCanvas" width="547" height="300"></canvas>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="q4">
							<div class="question">
								<h3>Penjumlahan dengan bilangan 1. </h3>
								<h3>1 + 2 = ?</h3>
							</div>
							<div class="qoptions">
								<div class="col-md-7">
									<ul>
										<li>
											<input id="toggle1" type="checkbox" checked>
											<label for="toggle1">13</label>
										</li>
										<li>
											<input id="toggle1" type="checkbox" checked>
											<label for="toggle1">24</label>
										</li>
										<li>
											<input id="toggle1" type="checkbox" checked>
											<label for="toggle1">34</label>
										</li>
										<li>
											<input id="toggle1" type="checkbox" checked>
											<label for="toggle1">90</label>
										</li>
									</ul>
								</div>
								
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="q5">
							<div class="question">
								<h3>Penjumlahan dengan bilangan 1. </h3>
								<h3>1 + 2 = ?</h3>
							</div>
							<div class="qoptions">
								<div class="col-md-7">
									<label for="comment">Jawaban:</label>
									<textarea placeholder="Jawab disini!" rows="4" cols="50">
									</textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 qcontrol">
							<button type="button" class="button">Previous</button>
							<button type="button" class="button">Next</button>
						</div>
						<div class="col-lg-12 sharebuttons">
							<p class="nobottommargin"><label>Share Soal Ini:</label></p>
							
							<a href="#" class="social-icon si-light si-rounded si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="#" class="social-icon si-light si-rounded si-twitter" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-light si-gplus" title="Google Plus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
							<a href="#" class="social-icon si-rounded si-light si-youtube" title="Youtube">
								<i class="icon-youtube"></i>
								<i class="icon-youtube"></i>
							</a>
						</div>
					</div>
				</div>
				
				
				</div><!--tab end-->
				<!--modal-->
				<!-- Small modal -->
				<button type="button" class="button button-3d button-small button-rounded button-dirtygreen kj bottommargin" data-toggle="modal" data-target="#kjmodal">Kumpulkan Jawaban</button>
				<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="kjmodal">
					<div class="zpmodal modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header center">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="gridSystemModalLabel">Yakin dengan jawabanmu?</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-6 center"><button type="button" class="btn btn-success">Ya</button></div>
									<div class="col-xs-6 center"><button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button></div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div class="checkbox">
											<label>
												<input type="checkbox"> Langsung Kerjain Bab Berikutnya
											</label>
										</div>
									</div>
								</div>
							</div>
							</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</div>
						<div class="col-md-3">
							<div class="panel panel-default">
								<div class="panel-body center">
									<p class="nobottommargin">
										<label>Ga ngerti?</label>
									</p>
									
									<button type="button" class="button button-mini button-3d button-rounded button-green">Tonton videonya</button>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body center">
									<p class="nobottommargin">
										<label>Bosen dengan bab ini?</label>
									</p>
									<!-- Button trigger modal -->
									<button type="button" class="button button-3d button-mini button-rounded button-yellow button-light" data-toggle="modal" data-target="#rlearnmodal">
									<i class="icon-hand-right"></i>
									Recommended Learning
									</button>
									<!--modal-->
									<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="rlearnmodal">
										<div class="modal-dialog modal-lg">
											<div class="modal-content zpmodal-lg">
												<div class="fancy-title title-center title-dotted-border">
													<h3>Recommended Learning</h3>
												</div>
												<div id="oc-images" class="owl-carousel image-carousel owl-theme owl-loaded">
													<div class="owl-stage-outer">
														<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.25s; width: 1624px;">
															<div class="owl-item active" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Matematika - Integral</label>
																		<img src="images/portfolio/4/4-1.jpg" alt="Image 1">
																	</a>
																</div>
															</div>
															<div class="owl-item active" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Biologi - Zat</label>
																		<img src="images/portfolio/4/6-1.jpg" alt="Image 2">
																	</a>
																</div>
															</div>
															<div class="owl-item active" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Fisika - Gerak Melingkar Beraturan</label>
																		<img src="images/portfolio/4/6-2.jpg" alt="Image 3">
																	</a>
																</div>
															</div>
															<div class="owl-item active" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Sejarah - Jawa</label>
																		<img src="images/portfolio/4/6-3.jpg" alt="Image 4">
																	</a>
																</div>
															</div>
															<div class="owl-item active" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Biologi - Zat</label>
																		<img src="images/portfolio/4/9-1.jpg" alt="Image 5">
																	</a>
																</div>
															</div>
															<div class="owl-item" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Biologi - Zat</label>
																		<img src="images/portfolio/4/9-2.jpg" alt="Image 6">
																	</a>
																</div>
															</div>
															<div class="owl-item" style="width: 212px; margin-right: 20px;">
																<div class="oc-item">
																	<a href="#">
																		<label>Biologi - Zat</label>
																		<img src="images/portfolio/4/12-1.jpg" alt="Image 7">
																	</a>
																</div>	
															</div>
														</div>
													</div>
													<div class="owl-controls">
														<div class="owl-nav">
															<div class="owl-prev disabled" style="display: block;"><i class="icon-angle-left"></i></div>
															<div class="owl-next" style="display: block;"><i class="icon-angle-right"></i></div></div>
															<div class="owl-dots" style="display: none;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
</div>
<script type="text/javascript" src="js/chart.js"></script>