---
title: Zenius Prestasi | Profile
---
<div class="container topmargin">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default prdata">
				<div class="panel-body">
					<img src="assets/images/portfolio/1/1.jpg" alt="" class="img-circle primg pull-left">
					<div class="prlevel">
						<h3>Budi Adi Abadi</h3>
						<p>Level 43</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
								10%
							</div>
						</div>
					</div>
					<div class="divider divider-center"><i class="icon-cloud"></i></div>
					Success Rate : 65%
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 65%">
							65% Jawab Benar
						</div>
						<div class="progress-bar progress-bar-danger" style="width: 35%">
							35% Jawab Salah
						</div>
					</div>
					<div class="tabs tabs-bordered clearfix ui-tabs ui-widget ui-widget-content ui-corner-all" id="tab-2">
						<ul class="tab-nav clearfix ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
							<li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-5" aria-labelledby="ui-id-5" aria-selected="true"><a href="#tabs-5" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-5">Status</a></li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-6" aria-labelledby="ui-id-6" aria-selected="false"><a href="#tabs-6" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-6">Data Diri</a></li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-7" aria-labelledby="ui-id-7" aria-selected="false"><a href="#tabs-7" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-7">History</a></li>
							<li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-8" aria-labelledby="ui-id-8" aria-selected="false"><a href="#tabs-8" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-8">Prestasi</a></li>
						</ul>
						<div class="tab-container">
							<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-5" aria-labelledby="ui-id-5" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
								<h3>Topics</h3>
								<canvas id="radarChartCanvas" width="481" height="341"></canvas>
							</div>
							<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-6" aria-labelledby="ui-id-6" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
								<ul class="row">
									<li><b class="col-md-4">Nama</b>: Budi Adi Abadi</li>
									<li><b class="col-md-4">Sekolah</b>: SMA 8</li>
									<li><b class="col-md-4">Kelas</b>: 12</li>
									<li><b class="col-md-4">Tanggal Lahir</b>: 10 Juni 1998</li>
									<li><b class="col-md-4">Pilihan Jurusan</b>: STEI ITB</li>
									<li><b class="col-md-4">Email</b>: <a href="BudiAA@gmail.com">BudiAA@gmail.com</a></li>
									<li><b class="col-md-4">Twitter</b>: <a href="#">@BudiAbadi</a></li>
									<li><b class="col-md-4">Facebook</b>: <a href="https://www.facebook.com/budi.abadi">https://www.facebook.com/budi.abadi</a></li>
									<li><b class="col-md-4">Contact</b>: 087771424781</li>
								</ul>
							</div>
							<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-7" aria-labelledby="ui-id-7" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
								<div class="alert alert-success">
									<i class="icon-book"></i>Menyelesaikan <a href="#"><strong>Fisika - Gerak Melingkar Beraturan</strong></a>.
								</div>
								<div class="alert alert-success">
									<i class="icon-book"></i>Menyelesaikan <a href="#"><strong>Matematika - Bangun Ruang</strong></a>.
								</div>
								<div class="alert alert-danger">
									<i class="icon-remove-sign"></i>Deadline <a href="#"><strong>PR Biologi - 1</strong></a> 19 Juni 2016 terlewatkan.
								</div>
								<div class="alert alert-success">
									<i class="icon-book"></i>Menyelesaikan <a href="#"><strong>Biologi - Sel Darah</strong></a>.
								</div>
								<div class="alert alert-info">
									<i class="icon-hand-up"></i>Masuk ke dalam kelas <a href="#"><strong>Bu Yani</strong></a>.
								</div>
								<div class="alert alert-success">
									<i class="icon-book"></i>Menyelesaikan <a href="#"><strong>Fisika - Teori Kuantum</strong></a>.
								</div>
								<div class="alert alert-success">
									<i class="icon-book"></i>Menyelesaikan <a href="#"><strong>Sejarah - Ken Arok</strong></a>.
								</div>
								<div class="alert alert-danger">
									<i class="icon-remove-sign"></i>Deadline <a href="#"><strong>PR Fisika - 1</strong></a> 19 Juni 2016 terlewatkan.
								</div>
							</div>
							<div class="tab-content clearfix ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabs-8" aria-labelledby="ui-id-8" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
								<div class="col-md-6">
									<div class="feature-box fbox-center fbox-effect">
										<div class="fbox-icon">
											<a href="#"><i class="icon-beaker i-alt"></i></a>
										</div>
										<h3>Biologist</h3>
										<p>Point anda tertinggi dalam pelajaran biologi.</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="feature-box fbox-center fbox-outline fbox-effect">
										<div class="fbox-icon">
											<a href="#"><i class="icon-trophy i-alt"></i></a>
										</div>
										<h3>Murid Teladan</h3>
										<p>Anda rank ke-5 dari 193 teman anda!</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="alert alert-info">
						<i class="icon-book"></i><a href="#"><strong>Bu Yani</strong></a> memberimu tugas <a href="#"><strong>Fisika - Gerak Lurus Berubah Beraturan</strong></a>, Deadline: 19 Juni 2016.
					</div>
					<div class="alert alert-info">
						<i class="icon-book"></i><a href="#"><strong>Pak Yanto</strong></a> memberimu tugas <a href="#"><strong>Sejarah - Abraham Lincoln</strong></a>, Deadline: 19 Juni 2016.
					</div>
					<div class="alert alert-success">
						<i class="icon-thumbs-up"></i><strong>Selamat!</strong> Anda naik peringkat menjadi perinkat ke 5.
					</div>
					<div class="alert alert-info">
						<i class="icon-book"></i><a href="#"><strong>Pak Seto</strong></a> memberimu tugas <a href="#"><strong>Biologi - Sel Darah</strong></a>, Deadline: 19 Juni 2016.
					</div>
					<div class="alert alert-info">
						<i class="icon-book"></i><a href="#"><strong>Bu Yesi</strong></a> memberimu tugas <a href="#"><strong>Matematika - Integral</strong></a>, Deadline: 19 Juni 2016.
					</div>
					<div class="alert alert-success">
						<i class="icon-thumbs-up"></i><strong>Selamat!</strong> Point anda tertinggi di pelajaran <a href="#"><strong>Biologi</strong></a>.
					</div>
					<div class="alert alert-info">
						<i class="icon-book"></i><a href="#"><strong>Bu Lani</strong></a> memberimu tugas <a href="#"><strong>Inggris - Pronounciation</strong></a>, Deadline: 19 Juni 2016.
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div id="scripts">
	<script type="text/javascript" src="assets/js/chart.js"></script>
</div>