<div class="container">
	<div class="heading-block center topmargin">
		<h2>Rank</h2>
	</div>
	<div class="row">
		<div class="input-group col-md-3">
			<input type="text" class="form-control" placeholder="Cari Nama">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
				Cari
				</button>
			</span>
			</div><!-- /input-group -->
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Nama</th>
					<th>Kelas</th>
					<th>Sekolah</th>
					<th>Pilihan Jurusan</th>
					<th>Poin</th>
					<th>Level</th>
				</tr>
			</thead>
			<tbody>
				<tr class="rank1">
					<td><i class="icon-trophy"></i>1</td>
					<td>Budi</td>
					<td>12</td>
					<td>SMA 8</td>
					<td>STEI ITB</td>
					<td>1000</td>
					<td>43</td>
				</tr>
				<tr class="rank2">
					<td>2</td>
					<td>Yanto</td>
					<td>9</td>
					<td>SMA 115</td>
					<td>Management Unpad</td>
					<td>900</td>
					<td>22</td>
				</tr>
				<tr class="rank3">
					<td>3</td>
					<td>Lani</td>
					<td>10</td>
					<td>SMA 8</td>
					<td>FK UI</td>
					<td>800</td>
					<td>33</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Dono</td>
					<td>12</td>
					<td>SMA 28</td>
					<td>STEI ITB</td>
					<td>700</td>
					<td>30</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Bundo</td>
					<td>9</td>
					<td>SMA 115</td>
					<td>Management Unpad</td>
					<td>600</td>
					<td>25</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Rani</td>
					<td>10</td>
					<td>SMA 8</td>
					<td>FK UI</td>
					<td>500</td>
					<td>20</td>
				</tr>
			</tbody>
		</table>
		<div class="row center">
			<ul class="pagination">
				<li><a href="#">«</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">»</a></li>
			</ul>
		</div>
	</div>